header {
  display: flex;
  justify-content: center;
}

input {
  width: 45%;
  min-width: 200px;
  padding: 10px;
  border-radius: 10px;
}
.banner {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.banner > img {
  width: 50%;
  min-width: 250px;
  margin: auto;
  border-radius: 30px;
}

main {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.bloco1,
.bloco2 {
  display: flex;
  justify-content: center;
}

.imgt1,
.imgt2 {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
}

.bloco1 > .imgt1 > img {
  width: 200px;
  max-width: 100%;
  height: 100px;
  margin: auto;
  margin-right: 10px;
}

.bloco1 > .imgt2 > img {
  width: 150px;
  max-width: 100%;
  height: 100px;
  margin: 0;
}
.bloco2 > img {
  width: 250px;
  min-width: 50px;
  max-width: 100%;
  max-height: 100px;

  margin: 0;
}
.bloco2 > .imgt2 > img {
  width: 220px;
  min-width: 50px;
  max-width: 100%;
  height: 100px;
  margin-left: 1px;
}

.bloco1 > .imgt1 > img,
.bloco1 > .imgt2 > img,
.bloco2 > img,
.bloco2 > .imgt2 > img {
  border-radius: 10px;
  opacity: 0.8;
}

.imgt1 > .texto,
.imgt2 > .texto {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
