body {
}
main > h1 {
  font-family: sans-serif;
  text-align: center;
}

main {
  margin: 100px;
}
#banner {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
}
#banner > img {
  width: 40%;
  border-radius: 30px;
  align-items: center;
}
#imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0.8;
  position: relative;
}

#imagens > #p1 {
  position: relative;
  padding: 5px;
  width: 12%;
  height: 130px;
  border-radius: 20px;
}
#imagens > #iM {
  padding: 5px;
  width: 15%;
  height: 130px;
  border-radius: 20px;
}
#texto {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 9px;
  position: absolute;
}
#texto > #t1 {
  transform: translate(-175%, 400%);
}
#texto > #t2 {
  transform: translate(-65%, 250%);
}
#texto > #t3 {
  transform: translate(60%, 100%);
}
